%header-item {
  justify-content: right;
  align-items: center;
}
.header {
  background-color: white;

  padding: 0px 80px;

  .header__content {
    display: flex;

    @extend %header-item;
    &.header-account {
      justify-content: space-around;
    }

    min-height: 60px;

    .content {
      margin: 10px;
    }
  }
}
