@mixin header-create($justify-content, $align-items) {
  justify-content: $justify-content;
  align-items: $align-items;
}

.header {
  background-color: white;
  position: sticky;
  .header__content {
    display: grid;
    padding: 16px 60px;

    @include header-create(right, center);

    &.-header-account {
      @include header-create(center, center);
      .content__list-item {
        display: flex;
        flex-direction: row;
        gap: 25px;
      }
    }

    min-height: 60px;
  }
}
