//Конструктор кнопки
@mixin button-create(
  $width,
  $height,
  $font-size,
  $font-weight,
  $color,
  $background-color,
  $border-radius,
  $background-image
) {
  width: $width;
  height: $height;
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
  background-color: $background-color;
  border-radius: $border-radius;
  background-image: $background-image;
}
//Шаблон кнопки самый основной
%button-standard {
  background-size: cover;
  text-decoration: none;
  @include button-create(auto, auto, 16px, 400, black, transparent, null, null);

  cursor: pointer;
}
//Все кнопки на сайте (можно добавить кнопку использовав конструктор, или создать новый шаблон и добавить через класс)
//ТАКЖЕ уточню не обязательно чтобы элемент был именно кнопкой,НО тогда его надо выделить в класс
button,
a {
  @extend %button-standard;
}

.button-enter {
  @include button-create(150px, 40px, 16px, 700, #fff, #056cf2, 30px, null);
}

.button-back {
  @include button-create(32px, 32px, null, null, null, null, null, url('/src/components/styles/img/back-button.svg'));
}

.button-next {
  @include button-create(315px, 43px, 16px, 700, #fff, #056cf2, 8px, null);
}

.button-list {
  @include button-create(auto, auto, 16px, 400, black, null, null, null);
  padding: 10px;
}
.button-list:hover {
  @include button-create(auto, auto, 16px, 400, #fff, #056cf2, 5px, null);
}

.button-burger {
  @include button-create(315px, 43px, 16px, 700, #fff, #056cf2, 8px, null);
}

.button-lesson {
  @include button-create(150px, 42px, 16px, 700, #fff, #056cf2, 30px, null);
}
.button-post {
  @include button-create(150px, 40px, 16px, 700, #fff, #056cf2, 30px, null);
  margin: 10px;
}
