.authentication {
  margin-top: 10%;
  padding: 30px;
  width: 430px;
  min-height: 544px;
  box-shadow: 0px 0px 60px 5px rgba(94, 159, 242, 0.15);
  background-color: white;
  border-radius: 36px;
}
.authentication .authentication-container__content {
  text-align: center;
}
.authentication .authentication-container__content .content__button-back {
  text-align: left;
}
.authentication .authentication-container__content .content__title {
  margin: 40px;
  font-size: 40px;
  font-weight: 700;
}
.authentication .authentication-container__content .content__text {
  margin: 30px auto;
  font-weight: 300;
}
.authentication .authentication-container__content .content__text .link {
  text-decoration: none;
  color: #056cf2;
}
.authentication .authentication-container__content .content__form-item {
  display: flex;
  gap: 10px;
  margin: 20px;
  flex-direction: column;
}
.authentication .authentication-container__content .content__form-item .form-item .input-authentication {
  border: none;
  outline: none;
  border-radius: 8px;
  width: 315px;
  height: 43px;
  background: #f2f2f2;
  font-weight: 400;
  padding: 0 10px;
  color: black;
}
.authentication .authentication-container__content .content__form-item .form-item .input-authentication:focus {
  border: 1px solid #5e9ff2;
  font-weight: 400;
}
.authentication .authentication-container__content .content__form-item .form-item .p-authentication {
  text-align: left;
  margin: 5px 10px;
  font-weight: 300;
  color: #f20521;
}