.register {
  max-width: 1780px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
  font-family: "Noto Sans";
}
.register .register-container__content {
  border-radius: 36px;
  background: #FFF;
  box-shadow: 0px 0px 60px 5px rgba(94, 159, 242, 0.15);
  max-width: 455px;
  min-height: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  padding: 20px;
}
.register .register-container__content .content__button-back .button-back {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
.register .register-container__content .content__title {
  font-size: 40px;
  font-weight: 700;
  margin: 30px auto;
  margin-bottom: 30px;
  text-align: center;
}
.register .register-container__content .content__form-item {
  display: flex;
  min-height: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.register .register-container__content .content__form-item .form-item .button-next {
  font-family: Noto Sans;
  font-size: 16px;
  color: var(--Color_1, #F2F2F2);
  cursor: pointer;
  border: none;
  border-radius: 8px;
  width: 282px;
  height: 43px;
  background: var(--Color_2, #056CF2);
}
.register .register-container__content .content__form-item .form-item input {
  border: none;
  outline: none;
  border-radius: 8px;
  width: 282px;
  height: 43px;
  background: #F2F2F2;
  font-weight: 300;
  font-family: "Noto Sans";
  font-size: 16px;
  padding-left: 10px;
  color: black;
}
.register .register-container__content .content__text {
  text-align: center;
  margin: 30px auto;
}
.register .register-container__content .content__text div.text {
  color: black;
}
.register .register-container__content .content__text .text {
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  white-space: nowrap;
  margin-top: 10px;
  color: #056CF2;
}