.signup {
  width: 360px;
  height: 484px;
  background: var(--Color_1, #fff);
  border-radius: 30px;
  display: block;
  margin: 10% auto;
  padding: 1%;
  box-shadow: 0px 0px 60px 5px rgba(94, 159, 242, 0.15);
}
.signup .signup__block {
  text-align: center;
  padding: 10px;
  margin: auto;
}
.signup .signup__block .button_null {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  padding-right: 100%;
  cursor: pointer;
}
.signup .signup__block .signup__items {
  display: grid;
  padding: 10px;
  height: 400px;
}
.signup .signup__block .signup__items .text {
  font-family: Noto Sans;
  font-size: 40px;
  font-weight: 400;
}
.signup .signup__block .signup__items .button {
  border: none;
  margin: 10px;
  border-radius: 8px;
  height: 43.75px;
  font-family: Noto Sans;
  font-size: 16px;
  background: var(--Color_2, #056CF2);
  color: var(--Color_3, #fff);
  cursor: pointer;
}
.signup .signup__block .signup__items .input {
  border: none;
  margin: 10px;
  border-radius: 8px;
  height: 43.75px;
  background: var(--Color_4, #F2F2F2);
}