@import 'reset.scss';
@import './blocks/header.scss';
@import 'authentication.scss';
@import './elements/buttons.scss';
@import './menu-burger.scss';
@import './blocks/task-form.scss';
@import './blocks/task-item.scss';
body {
  background-color: #f2f2f2;
  width: 100%;
  height: 100vh;
}
.all-content {
  display: flex;

  justify-content: center;
  align-content: center;
  margin: auto 10%;
  padding: 0 1%;
}
